In [ ]:
import os
import pandas as pd
import numpy as np
import statistics
from tqdm import tqdm_notebook
from tqdm.notebook import tqdm

%matplotlib inline

In [2]:
df_feat = pd.read_csv('feat_cup.csv')
print(df_feat.shape)
df_feat.sort_values(by=['dt'])

(291882, 293)

,client_id,dt,accountsalary_flag,country,profit_income_out_rur_amt_6m,clientoutflowstatus,curbal_usd_amt_cm_avg,stratsegfactor,srvpackage,clientsegment,...,transaction_category_house_repair_inc_cnt_2m,transaction_category_cash_percent_cnt_2m,transaction_category_hotels_sum_cnt_m2,transaction_category_sporting_goods_inc_amt_2m,transaction_category_airplane_tickets_percent_amt_2m,transaction_category_transport_percent_amt_2m,transaction_category_restaurants_percent_amt_2m,transaction_category_auto_services_percent_amt_2m,transaction_category_supermarket_sum_cnt_m2,transaction_category_auto_services_sum_cnt_m2
94992,a616541ffee98fa47f60adfa53536a25cd94bc4b50edd4...,2021-01-31,1.0,RUS,0.000000,N2BANK_POTENTIAL,400.0,Пакет услуг,Премиум,AFFLUENT,...,NaN,NaN,NaN,NaN,NaN,0.001211,NaN,NaN,NaN,NaN
268208,690c4f2ef18a6d68b28e5d4deea082ba2149fa25464fe5...,2021-01-31,1.0,RUS,49.500000,ACTIVE,12.0,Остатки на счетах,Технический,MASS,...,NaN,0.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268206,6d2c690d30adb7dc609f71289e07702d35b0c36ff46e59...,2021-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53396,b1cfc4151b2530fc092c5869309ffd793df61375b085d9...,2021-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53394,1e90a0daf9d13913c77a0271fe922e6d49b7def2106dc9...,2021-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235614,d61168a1c878239c690a2ce819bb218acf90eb0817d8aa...,2023-02-28,1.0,RUS,703.500000,ACTIVE,110.0,Реальная зарплата клиента,ОптимумUltra,MAFFLUENT,...,1.106061,0.009901,NaN,6.083333,NaN,0.002019,0.005250,0.023117,58.0,1.0
240258,6942dcb84ff97d1a46479e0c05ed96526147d30d029cff...,2023-02-28,1.0,RUS,3752.666667,ACTIVE,3387.0,Пакет услуг,Премиум,AFFLUENT,...,NaN,0.007092,2.0,NaN,NaN,0.021695,0.014165,NaN,24.0,NaN
253368,b12679c66e53e5ddaeedeb337e68ac59a0cc5b4e365736...,2023-02-28,1.0,RUS,-68.333333,ACTIVE,2.0,Пакет услуг,Премиум,AFFLUENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271612,0d5763815ad88c59b5e9d98adc877169366897d8cb3bf9...,2023-02-28,1.0,RUS,519.500000,ACTIVE,387.0,Пакет услуг,Премиум,AFFLUENT,...,NaN,0.084000,7.0,NaN,NaN,0.003600,0.015685,0.012168,83.0,2.0
277499,88cf7a9811ec1b92100f957f1ab1f209cf5a04c92383e7...,2023-02-28,1.0,RUS,46.333333,ACTIVE,13.0,Инвестиционные продукты,Технический,MAFFLUENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
df_objects = pd.read_csv('objects_cup.csv')
print(df_objects.shape)
print(len(df_objects['owner_id'])- len(df_objects['owner_id']. drop_duplicates ()))
df_objects.sort_values(by=['cardapp_date'])

(618366, 4)
128434

,card_uk,cardapp_date,owner_id,holder_id
471165,7.466375e+10,1900-01-01,db11bab24c982f593778421ed5af605ee81927ad8a8b90...,db11bab24c982f593778421ed5af605ee81927ad8a8b90...
270628,5.883412e+10,1900-01-01,c98984f04547c82f6b82ea4e5f59c57630bd22aa407be9...,c98984f04547c82f6b82ea4e5f59c57630bd22aa407be9...
245449,1.629601e+11,1900-01-01,d062cfb10ed384a40766be20be962e99fb6408277751a4...,d062cfb10ed384a40766be20be962e99fb6408277751a4...
549911,2.199437e+11,1900-01-01,919da8d311a5c68ec9ccde5ce8ddf805f0bee8172a2444...,919da8d311a5c68ec9ccde5ce8ddf805f0bee8172a2444...
515997,2.392222e+11,1900-01-01,0959477c3d3e34276a6e513689cd886f312ecaaa1730d3...,0959477c3d3e34276a6e513689cd886f312ecaaa1730d3...
...,...,...,...,...
615843,5.690668e+10,NaN,be8735b1d841e17b50ad3512ed338efb5a81f572510124...,be8735b1d841e17b50ad3512ed338efb5a81f572510124...
616239,2.199436e+11,NaN,b5a940115a4fbf4e61f00fb780c63e04435f126e4f6bcf...,b5a940115a4fbf4e61f00fb780c63e04435f126e4f6bcf...
616681,1.507929e+11,NaN,e7616eff9e67e7a5af65945421707a7aa1d6c6baa071a3...,e7616eff9e67e7a5af65945421707a7aa1d6c6baa071a3...
616743,2.199436e+11,NaN,2a8aa4546776c2caa1b6d0c72c89fa74cd825721187e98...,2a8aa4546776c2caa1b6d0c72c89fa74cd825721187e98...
618102,1.062130e+11,NaN,12694149e28d133f3f8769da192ac9b7ba23008723f8c2...,802e76ebb6e19676638284f7993e7e109a399bdd4a0d32...

In [155]:
df_objects['cardapp_date'].astype('datetime64').sort_values().unique()

array(['1900-01-01T00:00:00.000000000', '2011-08-25T00:00:00.000000000',
       '2011-09-03T00:00:00.000000000', ...,
       '2023-03-14T00:00:00.000000000', '2023-03-15T00:00:00.000000000',
                                 'NaT'], dtype='datetime64[ns]')

Удалим наблюдения с некорректными датами

In [159]:
df_objects = df_objects.dropna(subset=['cardapp_date'])

In [160]:
df_objects=df_objects[df_objects['cardapp_date'].astype('datetime64')>'2000-01-01']

In [161]:
df_objects

,card_uk,cardapp_date,owner_id,holder_id
0,2.874125e+11,2022-06-25,024cd10895b635113236b38ab005261aabe2d14fea7f35...,024cd10895b635113236b38ab005261aabe2d14fea7f35...
1,3.672372e+11,2023-02-15,d2107fec5e57fd346ce4c24787a251171c58b8772fb4ea...,877e6c0cffe3b3a9d584bb8d3bdc2b5268693650b050ba...
2,1.961967e+11,2021-08-25,c76c421c338190a6f9581952a4d663b20b7d5a722f883f...,c76c421c338190a6f9581952a4d663b20b7d5a722f883f...
3,1.711414e+11,2021-05-26,4b6bed0a9c16977f19606b59547801f6493754aaf493f3...,4b6bed0a9c16977f19606b59547801f6493754aaf493f3...
4,9.197256e+10,2019-12-10,e0fa8dd8a0a0c142bd298f071bc3e7ce85c86296bad189...,e0fa8dd8a0a0c142bd298f071bc3e7ce85c86296bad189...
...,...,...,...,...
618361,1.018792e+11,2020-06-19,ffbedf43b96b98201f4df53b4bc4e2d99a7a067b374312...,ffbedf43b96b98201f4df53b4bc4e2d99a7a067b374312...
618362,1.408176e+11,2021-02-04,e9ff7f69d0592151a4cb317dafe3751556e7665a780cc9...,48fa34d1e81df8c6ca2ac251075b4160d1411d918270ba...
618363,2.713991e+11,2022-04-27,d9999d97de050057999e64fdf4ce147e122e6cfec9da54...,d9999d97de050057999e64fdf4ce147e122e6cfec9da54...
618364,2.784818e+11,2022-05-24,ff61bfef912a6c82359f6ed698dd0a58dc8fa7e3fab3b0...,ff61bfef912a6c82359f6ed698dd0a58dc8fa7e3fab3b0...
618365,2.978225e+11,2022-08-02,7411c7839417e5bb13f695f00de430ae0bc5e1a5074e70...,7411c7839417e5bb13f695f00de430ae0bc5e1a5074e70...

Удалим подозрительные наблюдения как выбросы

In [162]:
duplicate = dict()
for elem  in df_objects['owner_id']:
    if elem not in duplicate.keys():
        duplicate[elem] = 1
    else:
        duplicate[elem] += 1
sorted(duplicate.values(), reverse=True)[:10]
#количество повторений одинаковых owner_id(максимальные значения)

[966, 321, 89, 39, 34, 22, 19, 19, 16, 15]

In [ ]:
dupl_dict = dict()
for elem in duplicate.keys():
    if  duplicate[elem] >= 20:
        dupl_dict[elem] = duplicate[elem]
        
#количество карт больше 20 вычищаем

In [164]:
dupl_dict

{'750f3a1774e0bca6ceb8c49356af8dd79f94e0e1fd054eabfd22ca779e75ad4e': 966,
 '01073424ca6704a4ed626b930e63bc05a12f028e320b0ca8a9b278cb6a1e2cb3': 89,
 'fb87393a13e055485cd0b5eb90bdc5f8c4f602bb2799c2a39e3cd661ac51d5cc': 321,
 '97b8f6fcd392c1333ad4d9eaf553bbb08caa86a9406c3c10bed9eae813ce6648': 22,
 '3fc77308c2aa1c7373fe161ba6f81f826d5b23b76bdb8ad6c7d91839c08db0b6': 34,
 'd52082ad0366d740b1226c62096cf27a832a99e97da75e6336a5fc02d34159a5': 39}

Поймем, карта выпущена для себя или для другого человека

In [171]:
df_objects['not_eq'] = np.where(df_objects['owner_id']==df_objects['holder_id'],0,1)

In [172]:
df_objects['eq'] = np.where(df_objects['owner_id']==df_objects['holder_id'],1,0)

In [173]:
df_objects

,card_uk,cardapp_date,owner_id,holder_id,not_eq,eq
0,2.874125e+11,2022-06-25,024cd10895b635113236b38ab005261aabe2d14fea7f35...,024cd10895b635113236b38ab005261aabe2d14fea7f35...,0,1
1,3.672372e+11,2023-02-15,d2107fec5e57fd346ce4c24787a251171c58b8772fb4ea...,877e6c0cffe3b3a9d584bb8d3bdc2b5268693650b050ba...,1,0
2,1.961967e+11,2021-08-25,c76c421c338190a6f9581952a4d663b20b7d5a722f883f...,c76c421c338190a6f9581952a4d663b20b7d5a722f883f...,0,1
3,1.711414e+11,2021-05-26,4b6bed0a9c16977f19606b59547801f6493754aaf493f3...,4b6bed0a9c16977f19606b59547801f6493754aaf493f3...,0,1
4,9.197256e+10,2019-12-10,e0fa8dd8a0a0c142bd298f071bc3e7ce85c86296bad189...,e0fa8dd8a0a0c142bd298f071bc3e7ce85c86296bad189...,0,1
...,...,...,...,...,...,...
618361,1.018792e+11,2020-06-19,ffbedf43b96b98201f4df53b4bc4e2d99a7a067b374312...,ffbedf43b96b98201f4df53b4bc4e2d99a7a067b374312...,0,1
618362,1.408176e+11,2021-02-04,e9ff7f69d0592151a4cb317dafe3751556e7665a780cc9...,48fa34d1e81df8c6ca2ac251075b4160d1411d918270ba...,1,0
618363,2.713991e+11,2022-04-27,d9999d97de050057999e64fdf4ce147e122e6cfec9da54...,d9999d97de050057999e64fdf4ce147e122e6cfec9da54...,0,1
618364,2.784818e+11,2022-05-24,ff61bfef912a6c82359f6ed698dd0a58dc8fa7e3fab3b0...,ff61bfef912a6c82359f6ed698dd0a58dc8fa7e3fab3b0...,0,1
618365,2.978225e+11,2022-08-02,7411c7839417e5bb13f695f00de430ae0bc5e1a5074e70...,7411c7839417e5bb13f695f00de430ae0bc5e1a5074e70...,0,1

Соединим с фичами по client_id (если у client_id несколько карт в таблице, появится несколько строк с разными dt)

In [337]:
df_agg = df_feat.merge(df_objects, left_on = 'client_id', right_on = 'owner_id', how='left')

In [338]:
df_agg['dt']=df_agg['dt'].astype('datetime64')
df_agg['cardapp_date']=df_agg['cardapp_date'].astype('datetime64')

In [339]:
# Временной интервал между датой открытия карты и сбором фичей
df_agg['date_diff']=(df_agg['cardapp_date']-df_agg['dt']).dt.total_seconds() / (3600*24)

In [189]:
# Некорректные наблюдения (смотрим в будущее)
df_agg[df_agg['date_diff']<0].shape

(92057, 300)

### Формируем таргет = 1

In [292]:
df_1 = df_agg[(df_agg['date_diff']>=0)&(df_agg['date_diff']<=31)&(df_agg['not_eq']>0)]
df_1['target']=1

In [295]:
df_target_count = df_1.pivot_table(values='target',  index=['client_id','dt'], aggfunc='count').reset_index()

In [296]:
df_target_count['target_count'] = df_target_count['target']
df_target_count=df_target_count.drop('target', axis=1)

Удалим дубликаты

In [27]:
df_1.duplicated(['client_id', 'dt']).sum()

6040

In [298]:
df_1= df_1.drop_duplicates(['client_id', 'dt'])

In [299]:
df_1=df_1.merge(df_target_count, on = ['client_id', 'dt'])

Удалим выбросы и некорректные значения, которые нашли вначале

In [308]:
df_1[df_1['client_id'].isin(dupl_dict.keys())]

,client_id,dt,accountsalary_flag,country,profit_income_out_rur_amt_6m,clientoutflowstatus,curbal_usd_amt_cm_avg,stratsegfactor,srvpackage,clientsegment,...,transaction_category_auto_services_sum_cnt_m2,card_uk,cardapp_date,owner_id,holder_id,not_eq,eq,date_diff,target,target_count
36385,750f3a1774e0bca6ceb8c49356af8dd79f94e0e1fd054e...,2023-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.694146e+11,2023-02-21,750f3a1774e0bca6ceb8c49356af8dd79f94e0e1fd054e...,2d539a4c8b322285979f67ead95bc7adfc97c9909a523e...,1,0,21.0,1,966
42277,d52082ad0366d740b1226c62096cf27a832a99e97da75e...,2023-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.646597e+11,2023-02-08,d52082ad0366d740b1226c62096cf27a832a99e97da75e...,2d539a4c8b322285979f67ead95bc7adfc97c9909a523e...,1,0,8.0,1,39

In [309]:
df_1=df_1[~df_1['client_id'].isin(dupl_dict.keys())]
df_1['hdb_other_active_mean_psk'] = np.where(df_1['hdb_other_active_mean_psk'] <0, 0 ,df_1['hdb_other_active_mean_psk'] )
df_1['hdb_other_active_min_psk'] = np.where(df_1['hdb_other_active_min_psk'] <0, 0 ,df_1['hdb_other_active_min_psk'] )

In [310]:
df_1['target_count'].max() #максимально кто-то за месяц открыл 7 карт

7

In [315]:
df_1.to_csv('target_1.csv', index=False)

### Формируем таргет = 0

In [356]:
df_0 = df_agg[(df_agg['date_diff']>=0)&(df_agg['date_diff']<=31)&(df_agg['not_eq']==0)&(df_agg['flag_target']!=1)]

In [360]:
df_0=df_0.drop_duplicates(['client_id', 'dt'])
df_0['hdb_other_active_mean_psk'] = np.where(df_0['hdb_other_active_mean_psk'] <0, 0 ,df_0['hdb_other_active_mean_psk'] )
df_0['hdb_other_active_min_psk'] = np.where(df_0['hdb_other_active_min_psk'] <0, 0 ,df_0['hdb_other_active_min_psk'] )

In [367]:
df_0['target']=0

In [368]:
df_0.to_csv('target_0.csv', index=False)

### Объединяем

In [372]:
df_1=df_1.drop(['card_uk','cardapp_date','owner_id', 'holder_id', 'not_eq', 'eq', 'date_diff', 'target_count'],axis=1)
df_0=df_0.drop(['card_uk','cardapp_date','owner_id', 'holder_id', 'not_eq', 'eq', 'date_diff'],axis=1)

In [378]:
df = pd.concat([df_0,df_1])

In [379]:
df.shape

(291879, 295)

In [380]:
df.head()

,client_id,dt,accountsalary_flag,country,profit_income_out_rur_amt_6m,clientoutflowstatus,curbal_usd_amt_cm_avg,stratsegfactor,srvpackage,clientsegment,...,transaction_category_hotels_sum_cnt_m2,transaction_category_sporting_goods_inc_amt_2m,transaction_category_airplane_tickets_percent_amt_2m,transaction_category_transport_percent_amt_2m,transaction_category_restaurants_percent_amt_2m,transaction_category_auto_services_percent_amt_2m,transaction_category_supermarket_sum_cnt_m2,transaction_category_auto_services_sum_cnt_m2,flag_target,target
3,df59a4122b39a1fbd34c9c44568540ae785dacdda37bcd...,2022-03-31,1.0,RUS,0.000000,POTENTIAL,0.0,Остатки на счетах,Эконом,MASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
6,3fb36fe9f65b087b4db47dfcb34604f3e8df241ff761d0...,2022-11-30,1.0,RUS,40528.333333,ACTIVE,58.0,Пакет услуг,Максимум+,AFFLUENT,...,NaN,NaN,NaN,0.043424,0.031732,0.137940,82.0,3.0,0.0,NaN
9,c8bd6b31697cd03c36ff0e7ecdc2e5e04d7096303ff3c4...,2021-12-31,1.0,RUS,5208.000000,ACTIVE,411.0,Пакет услуг,Комфорт,MAFFLUENT,...,4.0,NaN,NaN,NaN,NaN,NaN,14.0,NaN,0.0,NaN
10,809054afceab5f112187bcacf38813f7a7351025f8bdc4...,2022-10-31,1.0,RUS,15.166667,ACTIVE,0.0,Остатки на счетах,Эконом,MASS,...,NaN,NaN,NaN,0.023776,NaN,0.045174,3.0,1.0,0.0,NaN
11,3b81e94ef29c045fb2bdbe118764d0d07c95d7baaaebf8...,2022-09-30,1.0,RUS,-712.666667,ACTIVE,190.0,Предиктивный доход,Технический,MAFFLUENT,...,1.0,NaN,NaN,0.000800,0.018205,0.007467,126.0,3.0,0.0,NaN

In [11]:
df = df.drop_duplicates(subset=df.drop(['dt'], axis=1).columns)

In [386]:
df.to_csv('df_promejut.csv',index=False)